# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# cahce
__pycache__

# misc
.DS_Store
*.pem
*.jsonl
*.pkl
*.log
./server/annotators/*
./server/logs
*.lock

# env files (can opt-in for committing if needed)
*.env
.venv

